@use 'sass:color';

.icone{
    @include g.size(g.toRem(92), g.toRem(92));
    text-align: center;
    margin-left: 25%;
    
    
    .imagem{
        border-radius: 50%;
        @include g.size(100%,100%);
        border: 2px solid white;
        -webkit-box-shadow: 2px 2px 50px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 50px -4px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 50px -4px rgba(0,0,0,0.75);
    }

    &:hover > .imagem {
        transform:scale(1.1);
    }

    .paragrafo{
        @include g.text-format(g.toRem(16),g.$text-color, g.$Calistoga, 300);
    }

    &:hover > .paragrafo {
        
        text-decoration:underline;
        color: color.scale(white, $lightness: -15%);
        transform: scale(1.03);
    }
}