
.menuPrincipal {
  
    @include g.flex-all-center;
    @include g.size(100vh, 100%);
    flex-direction: column;
    background-color: g.$bg-dark;
    color: white;

    .jogos{
        @include g.size(50%,50%);
        border: 1px solid white;
        padding: g.toRem(32);
        margin-top: g.toRem(64);
        display: flex;
        gap: g.toRem(64);

        @include g.breakpoint(mobile){
            @include g.size(80% ,100%);
        }
        .link{
            text-decoration: none;
            color: white;
        }
    }
}
