
//@use '../../assets/scss/global.scss' as g;
@use 'sass:color';
.button{
    padding: 4px 32px;
    font-size: g.toRem(48);
    cursor: pointer;
    background-color: #D4BDAC;
    border: none;
    font-family: g.$Poppins;
    border-radius: 8px;
    &:hover{
       background-color: color.scale(#D4BDAC,$lightness: 50%);
    }
}