@use '../../assets/scss/functions.scss' as fun;
@use '../../assets/scss/fonts.scss' as f;
@use 'sass:color';
.menuSecundario{
    display: flex;
    flex-direction: column;
    gap: fun.toRem(16);

    .titulo{
        font-size: fun.toRem(48);
        color: white;
        font-family: f.$Poppins;
        font-weight: 300;
    }

    .button{
        padding: 4px 32px;
        font-size: fun.toRem(48);
        cursor: pointer;
        background-color: #D4BDAC;
        border: none;
        font-family: f.$Poppins;
        border-radius: 8px;
        &:hover{
           background-color: color.scale(#D4BDAC,$lightness: 50%);
        }
    }
}