.jogoDaForca{
    @include g.size(100vh, 100%);
    @include g.flex-all-center;
    background-color: g.$bg-dark;
    color: g.$text-color;
    align-content: center;
    flex-direction: column;


    .letras{
        @include g.flex-all-center;
        width: 30%;
        flex-wrap: wrap;
        gap: g.toRem(1);

        @include g.breakpoint(desktop){
            width: 50%;
        }
        @include g.breakpoint(laptop){
            width: 90%;
            gap: g.toRem(2);
        }
        @include g.breakpoint(tablet){
            width: 70%;
            gap: g.toRem(2);
        }
        @include g.breakpoint(mobile){
            width: 90%;
            gap: 0;
            overflow: scroll;
        }
    }
  
    
}