
.seletor{
    @include g.flex-all-center;
    flex-direction: column;
    gap: g.toRem(16);
    text-align: center;
    justify-content: center;
    @include g.breakpoint(mobile){
        overflow-y: scroll;
    }
    .titulo{
        color: g.$text-color;
        font-size: g.toRem(64);

        @include g.breakpoint(mobile){
           font-size: g.toRem(48);
           margin-bottom: g.toRem(12);
        }
    }
}

.seletores{
    width: 80%;
    gap: 12px;
    display: flex;
    padding-bottom: g.toRem(24);
    text-align: center;
    @include g.breakpoint(laptop){
        width: 80%;
    }
   
}
.row{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.column{
   flex-direction: column;
   justify-content: center;
   justify-items: center;
}