
.seletor{
    display: flex;
    flex-direction: column;
    gap: g.toRem(4);
    text-align: center;
    align-items: center;

    .titulo{
        color: white;
        font-size: g.toRem(64);
    }
}