
@use 'sass:color';

.menuSecundario{
    display: flex;
    flex-direction: column;
    gap: g.toRem(16);
    background-color: #021526;
    text-align: center;
    align-items: center;

    
    .titulo{
        @include g.text-format(g.toRem(48), g.$text-color,g.$Poppins, 300 );
        @include g.breakpoint(mobile){
           font-size: g.toRem(32);
        }
    }

}