
@use 'sass:color';

.menuSecundario{
    display: flex;
    flex-direction: column;
    gap: g.toRem(16);
    background-color: #021526;
    text-align: center;
    align-items: center;

    
    .titulo{
        @include g.text-format(g.toRem(48), g.$text-color,g.$Poppins, 300 );
        @include g.breakpoint(mobile){
           font-size: g.toRem(32);
        }

        @include g.breakpoint(tablet){
            font-size: g.toRem(24);
        }
        @include g.breakpoint(laptop){
            font-size: g.toRem(32);
        }
        @include g.breakpoint(desktop){
            font-size: g.toRem(24);
        }

    }

}