@use '../../assets/scss/functions.scss' as fun;
@use '../../assets/scss/fonts.scss' as font;
@use 'sass:math';

.carta{
    
    height: calc(var(--tamanho) * 2rem);
    width: calc(var(--tamanho) * 1.5rem);
 
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(0deg);
    transition: 0.5s;
    cursor: pointer;

    &.cartaVirada{
        transform: rotateY(180deg);
        transition: 0.5s;

        .conteudoFrente{
            transform: rotateY(0deg);
            transform: scaleX(-1);
        }

        .conteudoCosta{
            transform: rotateY(180deg);
        }
    }


    .conteudoFrente, .conteudoCosta{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: transform 0.6s;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .conteudoFrente{
        background-color: #E7D37F ;
        color: black;
        transform: rotateY(180deg);
        border: 2px solid #F5EDED;
        p {
            font-size: fun.toRem(92);
            font-family: font.$Calistoga;
            font-weight: 500;
    
        }
    }

    .conteudoCosta{
        background-color: #134BA0;
        border: 2px solid #F5EDED;
        p{
            font-size: fun.toRem(128);
            background: -webkit-linear-gradient(#bbe44a, #f5fdfd);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: font.$Calistoga;
            font-weight: bold;
        }
    }
    
}





/* .conteudoCosta:hover, .conteudoCosta:hover {
    transform: translateY(-10px);
} */


