@use '../../assets/scss/variables.scss' as v;

.jogoInicio{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: v.$bg-dark;
}

