.obstaculo{
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: moverObstaculo 5s linear forwards;
    transform: translateX(-50%);
    top: 0;
    img{
      height: 100%;
      width: 100%;
    }

}
.direita{
    left: 10%;
}
.esquerda{
    left: 65%;
}


@keyframes moverObstaculo {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}