@use 'sass:color';

.icone{
    @include g.size(g.toRem(92), g.toRem(92));
    text-align: center;
    margin-left: 25%;
    
    .imagem{
        border-radius: 50%;
        @include g.size(100%,100%);
        border: 2px solid white;
    }

    &:hover > .imagem {
        transform:scale(1.1);
    }

    .paragrafo{
        color: g.$text-color;
        font-size: g.toRem(16);
        
        font-family: g.$Calistoga;
    }

    &:hover > .paragrafo {
        
        text-decoration:underline;

        color: color.scale(white, $lightness: 80%);
    }
}