.icone{
    height: g.toRem(92);
    width: g.toRem(92);
    text-align: center;
    .imagem{
        border-radius: 50%;
        height: 100%;
        width: 100%;
        border: 2px solid white;
    }

    .paragrafo{
        font-size: g.toRem(16);
        font-family: g.$Calistoga;
    }
}