
.dificuldade{
    cursor:pointer;
    display: flex;
    width: g.toRem(512);
    background-color: #03346E;
    border-radius: 8px;
    height: g.toRem(48);
    align-items: center;
    justify-content: center;
    margin: g.toRem(4) 0;
    color: white;
    font: g.$Poppins;
    font-size: g.toRem(32);
}

.dificuldade:hover{
    background-color: rgba(245, 245, 220, 0.39);
}