@use '../../assets/scss/variables.scss' as v;

.menuPrincipal {
    display: flex;
    flex-direction: column;
    background-color: v.$bg-dark;
    width: 100vw;
    height: 100vh;
    color: white;

    .jogos{
        display: flex;
        gap: 12px;
    }
}
