.palavra{
    display: flex;
    gap: 12px;
    margin: 24px 0 64px 0;

    @include g.breakpoint(mobile){
        margin: 0px 0 16px 0;
    }
    .bar{
        border-bottom: 4px solid white;
        width: 36px;
        height: 64px;
        display: flex;
        justify-content: center;
        font-size: g.toRem(48);

        .letra{
            @include g.text-format(
            100%,
            g.$text-color,
            g.$Poppins,
            500
            );

        
        }

        @include g.breakpoint(mobile){
            @include g.size(g.toRem(48), g.toRem(20));
            font-size: g.toRem(28);
        }
    }
    @include g.breakpoint(mobile){
        @include g.size( $w:fit-content);

    }
}