

    .carro{
    height: 20%;
    width: 50%;
    position: relative;
    transition: 0.5s ease-in-out;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    img{
        width: 100%;
        height: 100%;
        padding: 0;
    }
}
    .direita{
        left: 30%;
    }
    .esquerda{
        left: -30%;
    }
