@use 'sass:color';
@use 'sass:math';
.tabuleiroJogoVelha{
        display: grid;
        @include g.size(g.toRem(520),g.toRem(520));
        padding: 2px;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        background-color: rgb(0, 0, 0);
        border-radius: 16px;
        border: 3px solid white;
        overflow: hidden;
        .area{
            @include g.size(100%, 100%);
            aspect-ratio: 1/1;
            background-color: #31363F;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            @include g.text-format(g.toRem(64), g.$text-color, g.$Poppins, 600);
           
            &:hover{
                background-color: color.scale(#31363F, $lightness: 10%);
            }
        
        }
    
}